.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 140px;
  background: black;
  color: white;
}

.footer .icon {
  display: flex;
  gap: 15px;
}

.footer .icon a {
  transition: 300ms all;
  color: white;
  text-decoration: none;
}
.footer .icon a:hover {
  color: #20e4a9;
}

.footer .extraText {
  color: #20e4a9;
  text-decoration: none;
  font-weight: bold;
  transition: 300ms all;
}

.footer .extraText:hover {
  color: rgb(27, 211, 156);
}

@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0px;
    height: 80px;
  }
}
