.navContainer {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  transition: all 0.5s ease;
}

.navContent {
  display: flex;
  color: white;
  gap: 30px;
  padding: 30px;
  font-weight: bold;
}

.navLink {
  color: white;
  text-decoration: none;
  transition: 300ms all;
}

.hamburgerMenu {
  cursor: pointer;
  display: none;
  padding: 20px;
}

.homeLink {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 5px;
  text-decoration-color: rgba(32, 228, 169, 1);
}

/** Mobile Nav */
/** if you change the vw value, you must change the vw in Navbar.jsx */

:root {
  --mobileNavMovingWidth: 40vw;
}

.mobileNav {
  position: fixed;
  left: 100vw;
  top: 0;
  background: black;
  height: 100vh;
  width: var(--mobileNavMovingWidth);
  transition: all 0.3s ease;
  z-index: 9998;
  color: white;
  opacity: 0;
}

.mobileNavContent {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: var(--mobileNavMovingWidth);
  padding-top: 100px;
  gap: 3rem;
}

.mobileNavLink {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding-right: 30px;
  transition: 300ms all;
}

.sideMenuActive {
  left: calc(100vw - var(--mobileNavMovingWidth));
  opacity: 1;
}
/** END: Mobile Nav */

@media screen and (max-width: 900px) {
  .hamburgerMenu {
    display: flex;
  }

  .navContent {
    display: none;
  }
}
