.navContainer {
  position: fixed;
  top: 0;
  right: 0;
}

.navContent {
  display: flex;
  color: white;
  gap: 30px;
  padding: 30px;
  font-weight: bold;
}

.mobileIcons {
  display: none;
  padding: 30px;
}

@media screen and (max-width: 1024px) {
  .mobileIcons {
    display: flex;
  }

  .navContent {
    display: none;
  }
}
