.navContainer {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  transition: all 0.5s ease;
}

.navContent {
  display: flex;
  color: white;
  gap: 30px;
  padding: 30px;
  font-weight: bold;
}

.navContent a {
  color: white;
  text-decoration: none;
}

.hamburgerMenu {
  cursor: pointer;
  display: none;
  padding: 20px;
}

/** Testing Mobile Nav */
.mobileNav {
  position: fixed;
  left: 100vw;
  top: 0;
  background: black;
  height: 100vh;
  width: 250px;
  transition: all 0.5s ease;
  z-index: 888;
  color: white;
}

.mobileNavContent {
  position: fixed;
}

.active {
  transition: all 0.5s ease;
  left: auto;
  right: 0;
}
/** END: Testing Mobile Nav */

@media screen and (max-width: 1024px) {
  .hamburgerMenu {
    display: flex;
  }

  .navContent {
    display: none;
  }
}
