.cardContainer {
  display: flex;

  justify-content: center;
  padding: 10px;
  break-inside: avoid-column; /* ensure cards don't break across columns */
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image {
  border: 1px solid rgb(199, 214, 218);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}

.subtitle {
  color: rgb(199, 199, 199);
}

.descriptionContainer {
  padding: 15px 0px;
  line-height: 1.5;
}

.projectIconsContainer {
  display: flex;
  gap: 5px;
}

.iconContainer {
  position: relative;
}

.iconTooltip {
  position: absolute;
  bottom: calc(100% + 7px);
  transform: translateX(-5px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  /* background: rgb(32, 228, 169); */
  /* color: black; */
  background: black;
  color: white;
  padding: 5px;
  /* border-radius: 5px; */
  font-size: 0.8rem;
  font-weight: bold;
  box-sizing: border-box;
  /* border: 2px solid white; */
}

.projectIcon {
  width: 30px;
  height: 30px;
  transition: all 0.15s ease-in-out;
}

.projectIcon:hover {
  cursor: pointer;
  scale: 1.2;
}

.iconContainer:hover .iconTooltip {
  opacity: 1;
}

.cardBtn {
  background: rgb(32, 228, 169);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBtn:hover {
  background: rgb(27, 211, 156);
}

@media screen and (max-width: 768px) {
  .cardContent {
    flex-direction: row;
  }

  .image {
    width: 40%;
  }

  .projectIconsContainer {
    align-items: flex-start;
  }

  .belowImageContainer {
    padding-left: 15px;
  }

  .topContainer {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .cardContent {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .projectIconsContainer {
    align-items: center;
  }

  .belowImageContainer {
    padding-left: 0px;
  }

  .topContainer {
    margin-top: 15px;
  }
}
