.singleCardContainer {
  display: flex;
  justify-content: center;
  break-inside: avoid-column; /* ensure cards don't break across columns */
}

.card {
  text-align: center;
  background: rgb(252, 204, 204);
  color: white;
  width: 100%;
  margin: 10px;
}
